/* In this file we have all of the file css*/


/* universal style */

.headerBar{
	background-color: #ED5356; 
	
}

.top20{
	margin-top: 20px;

}
.bot20{
	margin-bottom: 20px;
}

.left10{
	margin-left: 10px;
}

.right10{
	margin-right: 10px;
}

.centerH2{
	font-size: 22px !important;
	color: #ED5356;
	text-align: center;
	

}


.divButton{
	margin-left: 25%;
	margin-right: 25%;
	
	width: auto;
}



/* Style for starter.html */
.starterButton{
	position: absolute;
	bottom:10%;
}




#icon_title{
	position: absolute;
	margin-left: 10%;
	margin-right: 10%;
	top: 35%;
	width: 80%;
}

/* Style for login.html */



#loginTitle{
	text-align: center;
	margin-top: 50px;
	color: black;
}
#register{
	margin-top: 20px;
	width: 200px;
	text-align: center;
}

#backgroundLoginForm{
	background: #D8D8D8;
	margin-top: 40px;
	margin-bottom: 40px;
}
#backgroundLoginForm h2{
	text-align: center;
	
}
#backgroundLoginForm input{
	background-color: #D8D8D8 !important;
	
	width: 60%;
	margin-left: 20%;
	margin-right:20%;
	border-bottom: 1px solid #4D4D4D !important;


	
		
}



#forgotPassword{
	text-align: center;
	/*width: 40% !important:*/
	/*margin-left: 30%;*/
	/*margin-right: 30%;*/

}


.centerH2{
	font-size: 22px !important;
	color: #ED5356;
	text-align: center;
	

}
.loginSignUpButton{
	margin-top: 30px;
}

.inputCenter{
	margin-left: 15%;
	margin-right: 15%;
	width: 70%;
	text-align: left;

}

.submit{

}

#dontHaveAccount{
	text-align: center;
}

/* css for registerRole.html    */
.roles{
	margin-left: 10%;
	margin-right:10%;

	
}
#roleCrowdie{
	width: 80%;
	height: 30%;
	
}

#roleBO{
	width: 80%;
	height: 30%;
}

#titleRole{
	font-size: 30px !important;
	margin-top: 30px;
}



/* css for chooseCategories.html */


#titleChooseCategories{
	margin-top: 30px;
	font-size: 20px !important;
	margin-bottom: 20px;
}
#bodyChooseCategories{
	margin-left: 7%;
	margin-right: 7%;

}

#bodyChooseCategories p{
	text-align: center;
	margin-top: 10px;
	font-size: 15px;
	color: #ED5356;
}

#bodyChooseCategories i{
	color: black;
}

#chooseCategoriesSubmit{
	margin-top: 40px;
}




.fa-5x{
	font-size:70px;
	text-align: center;
}