/* In this file we have all of the file css*/


/* universal style */
/* Design color
	red = "#ED5456"
	LIGHT GRAY = "#D8D8D8"
	WHITE = "#FFFFFF"
	DARK GRAY = "#4D4D4D"
*/

.nav-bar-block, .bar {
  background-color: #ED5356 !important;
}

.title-image{
	margin-left: 30%;
	margin-right: 50%;
	margin-bottom: 10px;
	width: 20%;
	height: 50px;
}

.top20{
	margin-top: 20px;

}
.bot20{
	margin-bottom: 20px;
}

.left10{
	margin-left: 10px;
}

.right10{
	margin-right: 10px;
}

.centerH2{
	font-size: 22px !important;
	color: #ED5356;
	text-align: center;
	
}
.centerTitle{
	text-align: center;
	margin-top: 50px !important;
	color: black;

}


.divButton{
	margin-left: 25%;
	margin-right: 25%;
	width: 49%;
}

.roundButton{
	border-radius:100px 100px 100px 100px;

}


/* Style for starter.html */
.starterButton{
	
	margin-top:30%;
}




#icon_title{
	
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 50%;
	width: 79%;
}

/* Style for login.html */

#backgroundLoginForm{
	background: #D8D8D8;
	margin-top: 40px;
	margin-bottom: 40px;
}
#backgroundLoginForm h2{
	text-align: center;
	
}
#backgroundLoginForm input{
	background-color: #D8D8D8 !important;
	
	width: 60%;
	margin-left: 20%;
	margin-right:20%;
	border-bottom: 1px solid #4D4D4D !important;
		
}

#forgotPassword{
	text-align: center;
	/*width: 40% !important:*/
	/*margin-left: 30%;*/
	/*margin-right: 30%;*/

}


.loginSignUpButton{
	margin-top: 30px;
}

.inputCenter{
	margin-left: 15%;
	margin-right: 15%;
	width: 70%;
	text-align: center;

}

.submit{

}

#dontHaveAccount{
	text-align: center;
}

/* css for register.html */

.spacer{
	width: 300px; height: 0px;
}
.registerText{
	color:#ED5356;font-weight:50%;text-align:center;
}
/*.inputRegister{
	border-bottom-width:1px; 
	border-style:solid;margin:auto;  
	background-color:#D8D8D8;
}*/
#backgroundRegisterForm input{
	background-color: #D8D8D8 !important;
	
	width: 60%;
	margin-left: 20%;
	margin-right:20%;
	border-bottom: 1px solid #4D4D4D !important;
		
}
#backgroundRegisterForm{
	background: #D8D8D8;
	margin-top: 40px;
	width: 100%;
	margin-bottom: 40px;
}

/* css for registerRole.html    */
.roles{
	margin-left: 10%;
	margin-right:10%;

	
}
#roleCrowdie{
	width: 80%;
	height: 30%;
	
}

#roleBO{
	width: 80%;
	height: 30%;
}

#titleRole{
	font-size: 30px !important;
	margin-top: 30px;
}



/* css for chooseCategories.html */


#titleChooseCategories{
	margin-top: 30px;
	font-size: 20px !important;
	margin-bottom: 20px;
}
#bodyChooseCategories{
	margin-left: 7%;
	margin-right: 7%;

}

#bodyChooseCategories p{
	text-align: center;
	margin-top: 10px;
	font-size: 15px;
	color: #ED5356;
}

#bodyChooseCategories i{
	color: black;
}

#chooseCategoriesSubmit{
	margin-top: 40px;
}




.fa-5x{
	font-size:70px;
	text-align: center;
}