<ion-view id="boCrowdieList">
  <ion-nav-title>
    <img class="title-image" src="img/logo.png">    
  </ion-nav-title>
  
   <ion-content padding="false" class="has-header">    
   <h4 id="secretSparrow2-heading3" class="centerH2 top20">{{number}} Crowdies are working for you</h4>
   <ion-list id="bot20">
            <div >
                <ion-item class="item item-avatar item-icon-right assertive" ng-repeat="c in crowdieList">

                    <img ng-src="img/logo.png">

                    <h2assertive>{{c.crowdies_profile.user.name}}
                        <ul id="nav2">
                        <a ng-click="removeCrowdie(c.crowdies_profile.crowdies_id, $index)" class="fa fa-trash-o fa-2x" id="trashcan"></a>
                          <li ><a id="followback">{{c.following}} Following</a></li>
                          <li><a id="followback">{{c.followed_back}} Followed Back</a></li>
                        </ul>
                          <a id="efficiency">{{c.percent}}% Efficiency</a>
                    </h2assertive>
                    
                </ion-item>
            </div>

        </ion-list>

        <div style="height: 10%">
        </div>
        <!-- <ion-tabs class="tabs tabs-assertive">

          <ion-tab title="Summary" ui-sref="menu.dashboard">
           
          </ion-tab>

          <ion-tab title="Crowdies Performance" ui-sref="menu.boCrowdieList">
            
        </ion-tab> -->

          
      <!-- </ion-tabs> -->
       




   <!--ion-slide-box on-slide-changed="slideHasChanged($index)">
  <ion-slide>
  <div>
  <div style="background-color:#4D4D4D; overflow: auto;" class="list card manual-card-fullwidth">
    <div class="row flex-wrap list-crowdies padding-top">
      <div class="col-33 text-center" ng-repeat="crowdie in crowdies">
        <a href="#statistic">
          <img src="{{ crowdies.face }}" alt="" class="circle"/>
          <h5 class="dark">{{ crowdies.name }}</h5><br>
          <h5 class="dark">{{ crowdies.score}}</h5>
        </a>
      </div>
    </div>
    </div>
    </div>
    </ion-slide>
    </ion-slide-box-->
  </ion-content>
   <div class="tabs-striped tabs-background-assertive tabs-color-light footer">
      <div class="tabs">
        <a class="tab-item" ui-sref="menu.dashboard">
          Summary
        </a>
        <a class="tab-item active" ui-sref="menu.boCrowdieList">
          Crowdies Performance
        </a>
        
      </div>
    </div>

</ion-view>