<ion-view id="boHome">
    <ion-nav-title>
        <img class="title-image" src="img/logo.png">    
    </ion-nav-title>
    <ion-content padding="false" class="has-header">
        <div>
            <h3 style="color:#000000;text-align:center;padding-top:6px;">@sunnyhotel</h3>
        </div>
        <div>
            <div class="item item-body" style="border:none;">
                <div id="content">
                    <div class="section">
                        <div class="box">
                            <h2 style="color:#ED5356;margin:0;font-size:27px;text-align:center;">1500</h2>
                            <h2 style="color:#000000;margin:0;font-size:15px;text-align:center;">FOLLOWING</h2>
                            <hr>
                        </div>

                        <div class="utility">
                            <h2 style="color:#ED5356;margin:0;font-size:30px;text-align:center;">25</h2>
                            <h2 style="color:#000000;margin:0;font-size:15px;text-align:center;">Crowdies are
                                <br>working for you</h2>
                        </div>
                    </div>
                    <div class="section">
                        <div class="topRightContent">
                            <h2 style="color:#ED5356;margin:0;font-size:27px;text-align:center;">867</h2>
                            <h2 style="color:#000000;margin:0;font-size:15px;text-align:center;">FOLLOWERS</h2>

                        </div>
                        <hr width="125" size="">


                        <div class="bottomRightContent">
                            <h2 style="color:#ED5356;margin:0;font-size:30px;text-align:center;">283</h2>
                            <h2 style="color:#000000;margin:0;font-size:15px;text-align:center;">Accounts followed you this week</h2>
                        </div>
                    </div>
                </div>
            </div>

            <style>
                .section
            {float:left; width:50%;
            
                
            }
            
            .box
            {display:block;
            padding-top:5px;
                margin-left:5px;
                margin-right:1px;
                
            }
            
            
            .topRightContent {
               border-left: 1px solid gray;
               padding-top:5px;
               padding-left:4px;
               margin-left:3px;
               
            }
            .bottomRightContent {
               border-left: 1px solid gray;
                padding-left:4px;
               margin-left:3px;
               
            }
            .utility
            {display:block;
                
                margin-left:4px;
            }
            </style>


        </div>
        <div>
            <div style="background-color:#4D4D4D; overflow: auto;" class="list card manual-card-fullwidth">
                <h4 style="color:#FFFFFF;text-align:center;">YOUR TOP CROWDIES</h4>

                <div class="avatar">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="eachAvatar">
                                        <a href="#">
                                            <img class="img-circle" src="http://carbonwho.com/wp-content/uploads/2011/11/d-d2.jpg?f44bb7">
                                        </a>
                                        <p style="font-size:14px">
                                            <font color="white">Dean
                                                <br>120</font>
                                        </p>
                                    </div>
                                </td>
                                <td>
                                    <div class="eachAvatar">
                                        <a href="#">
                                            <img class="img-circle" src="http://img.wennermedia.com/620-width/cole-sadie-robertson-3f20049b-abfc-495d-bc49-70cd3ed8999b.jpg">
                                        </a>

                                        <p style="font-size:14px;">
                                            <font color="white">FAN
                                                <br>100</font>
                                        </p>
                                    </div>
                                </td>
                                <td>
                                    <div class="eachAvatar">
                                        <a href="#">
                                            <img class="img-circle" src="https://a.wattpad.com/useravatar/ElizabethEulberg.128.968957.jpg">
                                        </a>
                                        <p style="font-size:14px">
                                            <font color="white">JANE
                                                <br>95</font>
                                        </p>
                                        <div class="eachAvatar">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="eachAvatar">
                                        <a href="#">
                                            <img class="img-circle" src="http://www.smh.com.au/content/dam/images/g/j/6/1/7/1/image.related.articleLeadNarrow.300x0.gj611y.png/1440376144277.jpg">
                                        </a>
                                        <p style="font-size:14px">
                                            <font color="white">IAN
                                                <br>90
                                                <br>
                                            </font>
                                        </p>
                                    </div>
                                </td>
                                <td>
                                    <div class="eachAvatar">
                                        <a href="#">
                                            <img class="img-circle" src="http://thenewcode.com/assets/images/thumbnails/sarah-parmenter.jpeg">
                                        </a>


                                        <p style="font-size:12px">
                                            <font color="white">JO
                                                <br>85</font>
                                        </p>
                                    </div>
                                </td>
                                <td>
                                    <div class="eachAvatar">
                                        <a href="#">
                                            <img class="img-circle" src="https://www.daad.de/medien/der-daad/unsere-aufgaben/alumniarbeit/portraits/daad_alumni-galerie_david_toscana.jpg">
                                        </a>
                                        <p style="font-size:12px">
                                            <font color="white">JOHN
                                                <br>80</font>
                                        </p>
                                        <div class="eachAvatar">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h3 style="color:#FFFFFF;text-align:center;margin:0;">...</h3>
                <i class="icon ion-more" style="align-self:auto;"></i>
            </div>

            <style>
                .avatar{
                    margin-left:12px;
                }
                .eachAvatar{
                    text-align:center;
                    margin-left:23px;
                }
                .img-circle {
                border-radius: 50%;
                height:75px;
                width:75px;
            }
            </style>

        </div>
    </ion-content>
</ion-view>