<!-- login page -->
<ion-view name="changePassword" title="Change Password" id="changePassword">
  
  
  <ion-content>
   
    <form id="backgroundLoginForm">
      <div class="list" >
        
        
        <label class="item item-input item-stacked-label top20 bot20">
          <h2 class="centerH2">PASSWORD</h2>
          
          <input type="password" class="inputCenter" ng-model="changePassword.password">
          
        </label>
        <label class="item item-input item-stacked-label top20 bot20">
          <h2 class="centerH2">CONFIRM PASSWORD</h2>
          
          <input type="password" class="inputCenter" ng-model="changePassword.password_confirmation">
          
        </label>

        
        
      </div>
    </form>
<!--    <div>-->
    <div class="divButton">
        <button class="button button-block button-assertive roundButton" type="submit" ng-click="change()">SAVE</button>
    </div>

   
    
 

      
     

  </ion-content>
</ion-view>
