<ion-view id="">
    <ion-nav-title>
        <img class="title-image" src="img/logo.png">    
    </ion-nav-title>
    <ion-content>
        <div>
            <h1 class="centerTitle" id="companyProfileTitle"> COMPANY PROFILE</h1>
            <div style="background-color: rgb(232, 235, 239);">
                <div class="companyProfilePictureDiv">
                    
                    <img class = "img-circle centerImage" src="https://lh3.googleusercontent.com/-Or10jKGeot4/AAAAAAAAAAI/AAAAAAAAG5E/4aBpiGWDirg/s0-c-k-no-ns/photo.jpg" style="">
                
                </div>
                <div style="background-color:rgb(232, 235, 239);">
                    <div style="background-color:rgb(232, 235, 239);">
                        <p id="companyProfileName">COMMONWEALTH BANK</p>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p style="font-size:18px; color:#ED5356;text-align:center;">500</p>
                            <p style="font-size:13px; text-align:center">CROWDIES</p>
                        </div>

                        <div class="col">
                            <p style="font-size:18px; color:#ED5356;text-align:center;">11.5K</p>
                            <p style="font-size:13px; text-align:center ">FOLLOWING</p>
                        </div>

                        <div class="col">
                            <p style="font-size:18px; color:#ED5356;text-align:center;">13.4K</p>
                            <p style="font-size:13px; text-align:center ">FOLLOWERS</p>
                        </div>
                    </div>

                </div>

            </div>

            <div class="row" style="">
                <div class="col">
                    <button class="button button-block button-positive roundButton" ui-sref="menu.crowdieWorking">START WORKING</button>
                </div>
                    
                <div class="col">
                    <button class="button button-block button-assertive roundButton" ui-sref="menu.companyProfile">QUIT JOB</button>
                </div>
            </div>
            

            <hr width="70%" style="margin-top:30px;">

            <p style="font-size:16px; text-align:center;color:#ED5356;margin-top:20px;">INTERESTED IN</p>

            <div class="row">
                <div class="col">
                    <div class="row">
                        <img class="centerImage" src="http://vignette4.wikia.nocookie.net/logopedia/images/5/5c/McDonald's_Philippines_logo_2011.svg/revision/latest?cb=20141005133559" style="max-height: 50px;">
                    </div>
                     <p style="text-align:center; font-size:13px;">FOOD</p>
                </div>
                <div class="col">
                    <div class="row">
                        
                        <img class="centerImage" src="http://vignette4.wikia.nocookie.net/logopedia/images/5/5c/McDonald's_Philippines_logo_2011.svg/revision/latest?cb=20141005133559" style="max-height: 50px; ">
                    </div>
                     <p style="text-align:center; font-size:13px;">FOOD</p>
                    
                </div>
                <div class="col">
                    <div class="row imageSuggestionCrowdie">
                        
                        <img class="centerImage" src="http://vignette4.wikia.nocookie.net/logopedia/images/5/5c/McDonald's_Philippines_logo_2011.svg/revision/latest?cb=20141005133559" style="max-height: 50px;">
                    </div>
                     <p style="text-align:center; font-size:13px;">FOOD</p>
                    
                </div>
            </div>
    </ion-content>
</ion-view>