<ion-view id="crowdieHome">
  <ion-nav-title>
    <img class="title-image" src="img/logo.png">    
  </ion-nav-title>
  <ion-content padding="false" scroll="false" class="has-header">    <h4 id="secretSparrow2-heading3" style="color:#000000;text-align:center;">Welcome, TSABITA</h4>
    <div>
        <div class="item item-body" style="border:none;" padding-bot="">

            <div id="content">
                <div class="box">
                    <h3 style="color:#000000;margin:0;font-size:15px;text-align:center;">YOU ARE A</h3>
                    <h3 style="color:#FFC300;margin:0;font-size:20px;text-align:center;">NEWBIE</h3>

                    <hr>
                </div>

                <div class="utility">
                    <h2 style="color:#000000;margin:0;font-size:15px;text-align:center;">125/2000 points</h2>
                </div>
            </div>

        </div>

        <style>
        .section
        {float:left; width:50%;
        
            
        }
        
        .box
        {display:block;
        padding-top:5px;
            margin-left:5px;
            margin-right:1px;
            
        }
        
        
        .topRightContent {
           border-left: 1px solid gray;
           padding-top:5px;
           padding-left:4px;
           margin-left:3px;
           
        }
        .bottomRightContent {
           border-left: 1px solid gray;
            padding-left:4px;
           margin-left:3px;
           
        }
        .utility
        {display:block;
            
            margin-left:4px;
        }
        </style>


    </div>
    <div>
        <div style="background-color:#4D4D4D; overflow: auto;" class="list card manual-card-fullwidth">
            <h4 style="color:#FFFFFF;text-align:center;">COMPANIES I WORK FOR</h4>

            <div class="avatar">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <div class="eachAvatar">
                                    <a href="#">
                                        <img class="img-circle" src="https://lh4.googleusercontent.com/-uoR2ZCSA8VI/V8elfge6_9I/AAAAAAAAAD0/TDzyh9M_zPwiBldkMmeQCDnqyIzlFPtVACLIB/s203-k-no/">
                                    </a>
                                    <p style="font-size:12px">
                                        <font color="white">WORKING
                                            <br>MOUSE</font>
                                    </p>
                                </div>
                            </td>
                            <td>
                                <div class="eachAvatar">
                                    <a href="#">
                                        <img class="img-circle" src="https://lh3.googleusercontent.com/-Or10jKGeot4/AAAAAAAAAAI/AAAAAAAAG5E/4aBpiGWDirg/s0-c-k-no-ns/photo.jpg">
                                    </a>

                                    <p style="font-size:12px">
                                        <font color="white">COMMONWEALTH
                                            <br>BANK</font>
                                    </p>
                                </div>
                            </td>
                            <td>
                                <div class="eachAvatar">
                                    <a href="#">
                                        <img class="img-circle" src="https://lh6.googleusercontent.com/-LW9djoK42mc/AAAAAAAAAAI/AAAAAAAAAB8/fxvkQ2_GSdI/s0-c-k-no-ns/photo.jpg">

                                    </a>


                                    <p style="font-size:12px">
                                        <font color="white">EVENT
                                            <br>CINEMAS</font>
                                    </p>
                                    <div class="eachAvatar">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="eachAvatar">
                                    <a href="#">
                                        <img class="img-circle" src="http://www.newsroomdigital.com.au/wp-content/uploads/2016/05/default-600x400.jpg">
                                    </a>
                                    <p style="font-size:12px">
                                        <font color="white">MCDONALDS</font>
                                    </p>
                                </div>
                            </td>
                            <td>
                                <div class="eachAvatar">
                                    <a href="#">
                                        <img class="img-circle" src="https://lh6.ggpht.com/6yMSxzN389OKRG6iyAn58fZylJdWVxNLchTN-M4hf7xO4lATQgWMyA-Xj5aiA9OcOCc=w300">
                                    </a>


                                    <p style="font-size:12px">
                                        <font color="white">HUNGRY
                                            <br>JACKS</font>
                                    </p>
                                </div>
                            </td>
                            <td>
                                <div class="eachAvatar">
                                    <a href="#">
                                        <img class="img-circle" src="http://wallpaper.sc/en/iphone6plus/wp-content/uploads/2014/10/iphone6plus-2592x2592-wallpaper_00039.jpg">


                                    </a>

                                    <p style="font-size:12px">
                                        <font color="white">APPLE</font>
                                    </p>
                                    <div class="eachAvatar">
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <style>
            .avatar{
                margin-left:12px;
            }
            .eachAvatar{
                text-align:center;
                margin-left:17px;
            }
            .img-circle {
            border-radius: 50%;
            height:75px;
            width:75px;
        }
        </style>



    </div>
    <div>
        <button style="font-size:14px;border-radius:100px 100px 100px 100px; margin-left:22%; display:inline-block; margin-bottom:7px;" class="button button-assertive submit_button">FIND MORE COMPANIES</button>

    </div>
  </ion-content>
</ion-view>