<!-- page for crowdie to working -->
<ion-view title={{title_name}} >
    
    <ion-content padding="true" class="has-header">

    <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="refresh()">
    </ion-refresher>
        <div>
            <div class="list card" ng-repeat="account in accounts">
                
                <img class="img-circle center" src={{account.profile_image_url}} >
                

                

                <h4 class="centerH2Black">{{account.name}}</h4>

                <div class="greyBgBody">

                    <div class="row centerDiv">
                        
                        <div class="col">

                            <p style="font-size:18px; color:#ED5356">{{account.friends_count}}</p>
                            <p style="font-size:13px ">FOLLOWING</p>
                            
                        </div>
                        <div class="col">
                            <p style="font-size:18px; color:#ED5356;">{{account.followers_count}}</p>
                            <p style="font-size:13px">FOLLOWERS</p>
                        </div>

                    </div>
                    <hr>
                        

                    <!-- <h4 class="centerH2Black">Interested In</h4>

                    <div class="row centerDiv">
                        <div class="col">

                            <a class="center" ng-click="iconColorChange1()">
                                <i class="fa fa-paint-brush fa-2x" ng-style="iconColor1" aria-hidden="true"></i>
                                
                            </a>
                            <p class="center">ARTS</p>
                        </div>
                        <div class="col">

                            <a class="center" ng-click="iconColorChange1()">
                                <i class="fa fa-paint-brush fa-2x" ng-style="iconColor1" aria-hidden="true"></i>
                                
                            </a>
                            <p class="center">ARTS</p>
                        </div>
                        <div class="col">

                            <a class="center" ng-click="iconColorChange1()">
                                <i class="fa fa-paint-brush fa-2x" ng-style="iconColor1" aria-hidden="true"></i>
                                
                            </a>
                            <p class="center">ARTS</p>
                        </div>
                        <div class="col">

                            <a class="center" ng-click="iconColorChange1()">
                                <i class="fa fa-paint-brush fa-2x" ng-style="iconColor1" aria-hidden="true"></i>
                                
                            </a>
                            <p class="center">ARTS</p>
                        </div>
                    </div> -->

                </div>
                      
                
                <div class="row centerDiv">
                    <!-- <div class="col">
                    
                        <button class="button button-assertive button-outline" >
                            SKIP
                        </button>
                    </div> -->

                    <div class="col">

                        <button class="button button-balanced button-outline" ng-click="follow(account.screen_name, $index)" >
                            FOLLOW
                        </button>
                    </div>
                    
                </div>
            </div>
            
        </div>
        
    </ion-content>
</ion-view>