<!-- page for crowdie to working -->
<ion-view title="DASHBOARD" >
    
    <ion-content padding="true" class="has-header">

        <div id="chartDiv" class ="centerDiv">
            <canvas height="300" id="doughnut" class="chart chart-doughnut" chart-data="chartData" chart-labels="chartLabels" chart-colors="chartColors" chart-options="chartOptions"> 
            </canvas> 

            <!-- <div id="chartTextDiv" >
                <h1 id="chartText">{{percentage}}%</h1>
                <h2 class="centerH2">Followed Back</h2>
            </div> -->
            <lable id="chartTextDiv">
                <h1 id="chartText">{{percentage}}%</h1>
                <h2 class="centerH2">Followed You Back</h2>
            </lable>
           
        </div>
        
        <div class="bar bar-footer bar-assertive">

           <button class="button buttonDashboard">Summary Data</button>
           <button class="button buttonDashboard">Weekly Data</button>
           <button class="button buttonDashboard">Crowdies Data</button>
           
        </div>

        
    </ion-content>
</ion-view>