<!-- page for crowdie to working -->
<ion-view title="DASHBOARD" >
    
    <ion-content padding="true" class="has-header">

        <div id="chartDiv" class ="centerDiv">
            <canvas height="300" id="doughnut" class="chart chart-doughnut" chart-data="chartData" chart-labels="chartLabels" chart-colors="chartColors" chart-options="chartOptions"> 
            </canvas> 

            <div id="chartTextDiv" >
                <h1 id="chartText">80%</h1>
                <h2 class="centerH2">Followed Back</h2>
            </div>
           
        </div>
        
        <div class="bar bar-footer bar-assertive">
           <button class="button buttonDashboard">Summary</button>
           <button class="button buttonDashboard" ui-serf="menu.boCrowdieList">Crowdies Performance</button>
           
        </div>

        
    </ion-content>
</ion-view>