<ion-view id="explore" title="EXPLORE">
	<ion-nav-title>
		<a ng-click="" id="exploresearch">
            <i class="fa fa-search fa-1x" aria-hidden="true"></i>
        </a>		
        <center>
        	<h4 id="exploretitle">EXPLORE</h4>
        </center>
	</ion-nav-title>

	<ion-content>
		<div class="list">
			<a class="item item-avatar" ng-repeat="item in items" href="#/item/{{item.id}}">
				<img ng-src="{{ item.imgurl }}" id="profileimage">
				<h2 id="companyname">{{ item.id }}</h2>
				<p class="companyfollowing">{{ item.following }} FOLLOWING &nbsp·&nbsp {{ item.follower }} FOLLOWERS</p>
				<p class="companyposition">{{ item.position }} POSITIONS AVAILABLE</p>
			</a>
		</div>
	</ion-content>
</ion-view>