<!-- login page -->
<ion-view name="forgetPassword" id="forgetPassword">
  
  
  <ion-content>
    <h1 id="loginTitle" class="centerTitle">FORGET PASSWORD</h1>
    <form id="backgroundLoginForm">
      <div class="list" >
        
        
        <label class="item item-input item-stacked-label top20">
          <h2 class="centerH2">E-MAIL ADDRESS</p>
          <input type="email" class="inputCenter" ng-model="forgotData.email">
        </label>

        
        
      </div>
    </form>
    <div>
      <div class="divButton">
        <button class="button button-block button-assertive roundButton" type="submit" ng-click="submitEmail()">SUBMIT</button>
      </div>
      <div class="divButton centerDiv" >
        <button class="button button-clear button-assertive" type="submit" ui-sref="login">ALREADY REMEMBER?</button> 
      </div>
      

      
     

  </ion-content>
</ion-view>
