

<ion-view id="statistic">
<section class="secondary-tabs">
  <div class="row collapse">
    <div class="small-12 columns">
      <div class="tabs-content">
        <div class="content active" id="panel-1">
          <div class="row">
            <div class="small-12-columns">
              <h3 class="subheader">Statistic </h3>
              <h5 class="day">Monday</h5>
              <div class="progress">
                <span class="meter blue" style="width:65%">
                      <p class="percent">65%</p>
                </span>
              </div>
              <h5 class="day">Tuesday</h5>
              <div class="progress">
                <span class="meter green" style="width:35%">
                      <p class="percent">35%</p>
                </span>
              </div>
              <h5 class="day">Wednesday</h5>
              <div class="progress">
                <span class="meter purple" style="width:22%">
                      <p class="percent">22%</p>
                </span>
              </div>
              <h5 class="day">Thursday</h5>
              <div class="progress">
                <span class="meter orange" style="width:79%">
                      <p class="percent">79%</p>
                </span>
              </div>
              <h5 class="day">Friday</h5>
              <div class="progress">
                <span class="meter red" style="width:87%">
                      <p class="percent">87%</p>
                </span>
              </div>
              <h5 class="day">Saturday</h5>
              <div class="progress">
                <span class="meter orange" style="width:79%">
                      <p class="percent">79%</p>
                </span>
              </div>
              <h5 class="day">Sunday</h5>
              <div class="progress">
                <span class="meter orange" style="width:79%">
                      <p class="percent">79%</p>
                </span>
              </div>
            </div>
          </div>
        </div>
        
    </div>
      <ul class="tabs" data-tab>
        <li class="tab-title active"><a href="#panel-1"></i>FOLLOW BACK</a></li>
        <li class="tab-title"><a href="#panel-2"></i>FOLLOWERS INCREASE</a></li>
        <li class="tab-title"><a href="#panel-3"></i>HOURS CROWDIES WORKED</a></li>
      </ul>
  </div>
  </section>
</ion-view>
